@import 'reset';


@function pxrem($px){
    @return($px/16)+rem;
};

//variables
$XS:  pxrem(200);
$S: pxrem(320);
$SM: pxrem(500);
$M: pxrem(750);
$L: pxrem(960);
$XL: pxrem(1400);
$XXL: pxrem(200);

// Mixins
@mixin MQ($canvas) {
  @if $canvas == Splus {
    @media only screen and (min-width: $S) { @content; }
  }
  @if $canvas == SMplus {
    @media only screen and (min-width: $SM) { @content; }
  }
  @else if $canvas == Mplus {
    @media only screen and (min-width: $M) { @content; }
  }
  @else if $canvas == Lplus {
    @media only screen and (min-width: $L) { @content; }
  }
  @else if $canvas == XLplus {
    @media only screen and (min-width: $XL) { @content; }
  }
}
@mixin transform($property) {
  -moz-transform: $property;
  -ms-transform: $property;
  -webkit-transform: $property;
  transform: $property;
}

body{
  background: darken(white, 20%);
}

main{
  background: darken(white, 10%);
  width: 80%;
  height: pxrem(900);
  margin: 0 auto;
  padding: pxrem(50);
  border: solid 1px darken(white, 50%);
  line-height: 1.5;
  h1, h2, h3, h4, h5, h6{
    font-family: tahoma;
    color: darkgreen;
    text-align: center;
    margin-bottom: pxrem(20);
    border-bottom: solid 1px darken(white, 15%);
  }
  h1, h2{
    width: 60%;
    margin: 0 auto;
  }
  h1{
    font-size: pxrem(35);
  }
  h2{
    font-size: pxrem(25);
  }
  h3{
    font-size: pxrem(20);
  }
  h4{
    font-size: pxrem(18);
  }

  p{
    font-size: pxrem(16);
    font-family: verdana;
    color: darken(white, 80%);
  }
  strong{
    font-weight: bold;
  }
  em{
    font-style: italic;
  }
  ul{
    font-size: pxrem(20);
    font-family: verdana;
    color: darken(orange, 10%);
    padding: pxrem(20);
    box-shadow: 3px 3px 3px darken(white, 20%);
    li{
      list-style-type: circle;
      margin-left: pxrem(30);
      margin-top: pxrem(20);
      font-size: pxrem(16);
      color: darken(white, 90%);
      border-bottom: solid 1px darken(white, 20%);
    }
  }
}

.content{
  margin-top: pxrem(100);
  background: darken(white, 10%);
}

#review-box{
  width: 60%;
  margin: 0 auto;
  margin-top: pxrem(100);
  padding: pxrem(30);
  background: white;
  border: solid 2px darken(white, 20%);
  box-shadow: pxrem(3) pxrem(3) pxrem(3) darken(white, 50%);
}

.target-letter{
  color: red !important;
}

#eat-div{
  //display: none;
}
